/* ----------------------------------------------------------*/
/* dog_registration_with_walker.css                          */
/* ------------                                              */
/* css file for dog_registration_with_walker.html            */
/* ----------------------------------------------------------*/
/* Author       - Tal Eylon, Amihai Kaleb, Avihoo Menahem    */
/* Last updated - 2019-01-13                                 */
/* ----------------------------------------------------------*/

/* style for scroll bar for the html page */
body{
	overflow: scroll;
}
/* main style for each page, with white background and a solid grey border  */
#main_page{
	margin: 0 auto;
	width: 1000px;
	border-color: #17202A;
	border-style: solid;
	border-width: 4px;
	box-shadow: 10px 10px 5px grey;
	background-color: white;
	opacity:0.8;

}
#bodydw{
	background-image: url("dogs2.jpg");
	background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
	background-attachment: fixed;
	background-blend-mode: lighten;
	-ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

/* style for h1-title with gray-blue color wich center to middle of the form */
h1{
	color: #5D6D7E;
	letter-spacing: 3px;
	text-shadow: 1px 1px 2px black, 0 0 25px #566573, 0 0 5px #566573;
	border-bottom-style: dotted;
	text-align: center;
	margin-left: 5%;
	margin-right : 5%;
	font-size: 50px;

}
/* style for h2-title with gray-blue color wich center to middle of the form */
h2{
	color: #5D6D7E;
	letter-spacing: 1px;
	text-shadow: 1px 1px 2px black, 0 0 25px #566573, 0 0 5px #566573;
	border-bottom-style: dotted;
	text-align: center;
	margin-left: 15%;
	margin-right: 15%;

}
/* style for h3-title with gray-blue color wich center to middle of the form */
h3{
	color: #5D6D7E;
	letter-spacing: 1px;
	text-shadow: 1px 1px 2px black, 0 0 25px #566573, 0 0 5px #566573;
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
}

/* style for the paragraphs of ours form, wich defines the text font,size and color light-blue/grey */
p{
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	font-size: 20px;
	color: #5D6D7E;
	padding-left: 5%;
}
/* style for the tables of ours form, wich defines the text font,size and color light-blue/grey */
table {
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	font-size: 20px;
	color: #5D6D7E;
	margin: 0 auto;
}
/* style for the image, defines the size of the picture. */
img{
	width: 590px;
	height:275px;
}
/* style for submit button, when hover on change color to black with white text. */
input.important_button:hover { /* change */
	color: white;
	background-color: black
}
/* style for submit button, defines font and size of the text of the button. */
input.important_button { /* change */
	width: 120px;
	height: 40px;
	font-size: 14px;
}
/* style for TOOLBAR MENU TABLE wich center the text to the middle of the column */
table.menu_owner {
	text-align: center;
	font-family: Verdana;
	font-size: 11px;
}
.menu_owner td {
	border: 1px solid;
	background-color: lightgray;
	width: 250px;
	height: 30px;
}

.menu_owner a:link {
  text-decoration: none;
  color: black;
}

.menu_owner td:hover {
	background-color: #f5f5f5;
}
/* style for the tables and divs of ours form, wich defines the border style,size and color light-blue/grey */
div.boxing{
	border-style: solid;
	padding: 20px;
}
table.table_boxing{
	border: solid lightgray;
	border-style: solid;
	border-collapse: collapse;
	padding: 5px;
}
td.td-boxing{
	border: solid lightgray;
	border-style: solid;
	border-collapse: collapse;
	padding: 5px;
	
}
th.th-boxing{
	border: solid lightgray;
	border-style: solid;
	border-collapse: collapse;
	padding: 5px;
	
}
th {
	
	font-size: 100%;
}
.td-center {
	text-align: center;
}
/* other style definitions */
span{
	text-decoration: underline
}
